body
{
background-color:white;
}


h1
{
color:blue;
text-align:center;
}


h2
{
color:red;
}

p
{
font-family:"Times New Roman";
font-size:20px;
color:red;
}


.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
.nav a:link, a:visited
{
color:blue;
}

.login